<mat-toolbar class="mat-elevation-z6">
    <span><img src="https://res.cloudinary.com/dfmmh4qka/image/upload/v1653642634/download_ogpnra.png" class="imgSize"> SVRTC</span>
    <div class="spacer"></div>
        <a mat-button routerLink="offers" class="pad">offers</a>
        <a mat-button routerLink="help" class="pad">help</a>
        <a mat-raised-button color="accent" routerLink="userlogin" class="pad">User Login</a>
        <a mat-raised-button color="accent" routerLink="deptlogin" class="pad">Department Login</a>
        <a mat-button routerLink="more">more</a>
</mat-toolbar>